input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

input, button, select, textarea {
  border: 1px solid var(--accent-fade);
  border-radius: 0.25em;
  padding: 0.5rem;
}

input, select, textarea {
  background-color: var(--surface-darker);
}

button {
  padding: 0.25em 1em;
  background: var(--accent);
  color: var(--accent-over);
  transition: padding 0.2s ease-in-out;
}

button:disabled {
  background: var(--accent-fade);
  color: var(--accent);
}

ul, ol {
  margin: 1em 0;
  padding-inline-start: 2rem;
}

ul li, ol li {
  margin: 0.5em 0;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin: 0.5em 0;
}

li p {
  margin: 0.25em 0; 
}
