---
import type { GetStaticPaths } from "astro";
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import '../../components/book.css';

// Get the slug from astro's context
const slug = Astro.url.pathname;

export const getStaticPaths = (async () => {

  const allBooks = await getCollection('books');
  return allBooks.map((book) => {
    return {
      params: {
        slug: book.slug
      },
      props: { book }
    }
  });
}) satisfies GetStaticPaths;

console.log(slug);

const { book } = Astro.props;
const { Content } = await book.render();
---

<Layout title={slug}>
  <div class="border">
  <main>
  <div class="cover">
    <h1>{book.data.title}</h1>
    <p>{book.data.author}</p>
  </div>
    <div class="book">
      <Content />
    </div>
  </main>
  </div>
</Layout>


<style>
	main {
    font-size: var(--step-0);
    width: 100%;
    margin: auto;
    padding: 1rem;
    max-width: 50ch;
	}
  .border {
    border: 1px solid #aaf;
    width: calc(50ch + 8rem);
    font-size: var(--step-0);
    margin: auto;
    max-width: 100%;
  }
  .cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #aaf;
    min-height: 20rem;
    text-align: center;
    margin-block: 0rem 10rem;
  }
</style>
