---
interface BookData {
  title: string;
  author?: string;
  frontmatter?: {
    title: string;
    author?: string;
  }
}
export type Props = BookData
import Layout from './Layout.astro';
import '../components/book.css';

const {title, author, frontmatter} = Astro.props;

const resTitle = title || frontmatter && frontmatter.title || 'Untitled';
const resAuthor = author || frontmatter && frontmatter.author || undefined;
---

<Layout title={resTitle}>
  <main>
    <div class="cover">
      <h1>{resTitle}</h1>
      {resAuthor && <>
        <div class="fleuron">❦</div>
        <p>{resAuthor}</p>
      </>}
    </div>
    <div class="content">
      <slot></slot>
    </div>
  </main>
</Layout>

<style>
  :root {
    --book-width: 50ch;
    --book-margin: calc((100dvw - min(var(--book-width), 100dvw)) / 4);
    --book-padding: calc(var(--book-margin));
  }
	main {
    font-size: var(--step-0);
    width: calc(100dvw - 2rem);
    margin: var(--book-margin) auto;
    box-sizing: content-box;
    padding: var(--book-margin) max(var(--book-padding), 1rem);
    max-width: var(--book-width);
    border: 1px solid var(--accent-fade);
	}
  main * {
    box-sizing: border-box;
  }
  .content:has(nav) {
    display: flex;
    flex-wrap: wrap;
  }
  .cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--accent-fade);
    min-height: 20rem;
    text-align: center;
    margin-block: 0rem 10rem;
    padding: 2rem;
  }
  .cover h1 {
    color: var(--accent);
    font-size: var(--step-5);
  }
  .fleuron {
    font-size: var(--step-2);
    color: var(--accent-fade);
    margin: 1rem;
  }
</style>
