---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1920,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.6944rem, 0.6413rem + 0.2656vi, 0.96rem);
  --step--1: clamp(0.8333rem, 0.76rem + 0.3667vi, 1.2rem);
  --step-0: clamp(1rem, 0.9rem + 0.5vi, 1.5rem);
  --step-1: clamp(1.2rem, 1.065rem + 0.675vi, 1.875rem);
  --step-2: clamp(1.44rem, 1.2593rem + 0.9038vi, 2.3438rem);
  --step-3: clamp(1.728rem, 1.4877rem + 1.2017vi, 2.9297rem);
  --step-4: clamp(2.0736rem, 1.7559rem + 1.5885vi, 3.6621rem);
  --step-5: clamp(2.4883rem, 2.0705rem + 2.0893vi, 4.5776rem);
}
  * {
    box-sizing: border-box;
  }
  .libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
	html {
    font-size: var(--step-0);
    background-color: #000;
    color: #aaa;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
	}
  a {
    color: #aff;
  }
</style>
