---
import '../components/elements.css';
import '../components/font.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <slot name="head" />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1920,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --step--2: clamp(0.6944rem, 0.6733rem + 0.1056vi, 0.8rem);
  --step--1: clamp(0.8333rem, 0.8rem + 0.1667vi, 1rem);
  --step-0: clamp(1rem, 0.95rem + 0.25vi, 1.25rem);
  --step-1: clamp(1.2rem, 1.1275rem + 0.3625vi, 1.5625rem);
  --step-2: clamp(1.44rem, 1.3374rem + 0.5131vi, 1.9531rem);
  --step-3: clamp(1.728rem, 1.5853rem + 0.7134vi, 2.4414rem);
  --step-4: clamp(2.0736rem, 1.878rem + 0.9782vi, 3.0518rem);
  --step-5: clamp(2.4883rem, 2.223rem + 1.3264vi, 3.8147rem);
}
:root {
  --background: #ede5d2;
  --surface-darker: #ebe0c6;
  --surface-lighter: #f7e9d9;
  --text: #544c34;
  --accent: #d16c00;
  --accent-text: #a35400;
  --accent-fade: rgba(209, 108, 0, 0.3);
  --accent-over: #f7e9d9;
}
  * {
    box-sizing: border-box;
  }
	html {
    font-size: var(--step-0);
    background-color: var(--background);
    color: var(--text);
    font-family: "LibreBaskerville", "Libre Baskerville", serif;
    line-height: 1.5;
	}
  html, body {
    margin: 0;
  }
  body {
    padding: 0.25rem;
    overflow-x: hidden;
  }
  a {
    color: var(--accent-text);
    text-decoration: underline;
    text-decoration-color: var(--accent);
  }
</style>
